:root {
  --bgcolor: #121212
}
/* Wallpaper Image */
.wallpaper1-mode {
  --bgimg: url('./images/wallpaper/1.jpg');
}
.wallpaper2-mode {
  --bgimg: url('./images/wallpaper/2.png');
}
.wallpaper3-mode {
  --bgimg: url('./images/wallpaper/3.jpg');
}
.wallpaper4-mode {
  --bgimg: url('./images/wallpaper/4.png');
}
.wallpaper5-mode {
  --bgimg: url('./images/wallpaper/5.png')
}
.wallpaper6-mode {
  --bgimg: url('./images/wallpaper/6.png')
}
.wallpaper7-mode {
  --bgimg: url('./images/wallpaper/7.png')
}
.wallpaper8-mode {
  --bgimg: url('./images/wallpaper/8.jpg')
}
.wallpaper9-mode {
  --bgimg: url('./images/wallpaper/9.jpg')
}
.wallpaper10-mode {
  --bgimg: url('./images/wallpaper/10.jpg')
}
.wallpaper11-mode {
  --bgimg: url('./images/wallpaper/11.jpg')
}
.wallpaper12-mode {
  --bgimg: url('./images/wallpaper/12.jpg')
}
.wallpaper13-mode {
  --bgimg: url('./images/wallpaper/13.jpg')
}

/* Blue Image */
.blur1-mode {
  --bgimg: url('./images/blur/1.jpg')
}
.blur2-mode {
  --bgimg: url('./images/blur/2.jpg')
}
.blur3-mode {
  --bgimg: url('./images/blur/3.jpg')
}
.blur4-mode {
  --bgimg: url('./images/blur/4.jpg')
}

/* Color */
.dark-mode {
  --bgcolor: #121212
}
.light-mode {
  --bgcolor: #cacaca
}
.blue-mode {
  --bgcolor: #7795c1
}
.pink-mode {
  --bgcolor: #b774a3
}
.green-mode {
  --bgcolor: #6b954b
}
.purple-mode {
  --bgcolor: #6c4b95
}
.yellow-mode {
  --bgcolor: #d0c26a
}


.v-application {
  background-image: var(--bgimg) !important;
  background-color: var(--bgcolor) !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}
