.image1-mode {
  --bgimg: url('./images/wallpaper/1.jpg');
}
.image2-mode {
  --bgimg: url('./images/wallpaper/2.png');
}
.image3-mode {
  --bgimg: url('./images/wallpaper/3.jpg');
}
.image4-mode {
  --bgimg: url('./images/wallpaper/4.png');
}
.image5-mode {
  --bgimg: url('./images/wallpaper/5.png')
}
.image6-mode {
  --bgimg: url('./images/wallpaper/6.png')
}
.image7-mode {
  --bgimg: url('./images/wallpaper/7.png')
}
.image8-mode {
  --bgimg: url('./images/wallpaper/8.jpg')
}
.image9-mode {
  --bgimg: url('./images/wallpaper/9.jpg')
}
.dark-mode {
  --bgcolor: #121212
}
.light-mode {
  --bgcolor: #cacaca
}


.v-application {
  background-image: var(--bgimg) !important;
  background-color: var(--bgcolor) !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}
